@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color:hsl(212, 45%, 89%) ;
    font-family: 'Outfit';
    width: 100%;
}
h1{
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin: 15px 35px 15px 35px;
}
p{
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 15px 35px 15px 35px;
}
  .centered-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.container{
    width: 300px;
    height: 450px;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 20px;
    text-align: center;
}
.container img{
    width: 275px;
    border-radius: 10px;
    margin-top: 10px;
}